.element__like-button {
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like-button.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    box-sizing: border-box;
}